In [2]:
# x = 4

# print("welcome to DEPI",hex(id(x)))#print id of var

In [15]:
x = 20
y = 30

print("this is x value = ", x, "and y value is  =  ", y)
print("this is x {0}   and  y {1}".format("george", y))
print(f"this is x = {x}   and  y = {y}")

this is x value =  20 and y value is  =   30
this is x george   and  y 30
this is x = 20   and  y = 30

In [ ]:
name  = "ArithmeticError"
course_name = " "
id = ""
print(f"")

In [ ]:
x = True
print(type(x))

<class 'bool'>

In [28]:
name = "Depi R4"
name[0:4:2]

'Dp'

In [30]:
name = "welcome into depi r4"
upper_txt = name.upper()
print(upper_txt)

WELCOME INTO DEPI R4

In [32]:
lower_txt = upper_txt.lower()
lower_txt

'welcome into depi r4'

In [45]:
name = "welcome into depi r4 r4"
list_1 = name.split()
# print(type(list_1))
list_1

['welcome', 'into', 'depi', 'r4', 'r4']

In [47]:
sent =' '.join(list_1)
type(sent)

str

In [50]:
sent.endswith("welcome")

False

In [57]:
print("welcome into\b \"our\" group")

welcome int "our" group

In [61]:
x = 5,5
list(x)

[5, 5]

In [63]:
x =(1,2,3)
x[0] = "depi"

TypeError: 'tuple' object does not support item assignment

In [ ]:
x ="depi"
tuple(x)


str

('d', 'e', 'p', 'i')

In [69]:
def user_info(x,y):
    """
    param_1 : take first number from user
    type:param_1:  int 
    param_2 : take second number from user 
    type_param_2: int
    
    return: sum two number 
    type_return: int
    
    
    """
    return f"num_1 is {x}, num2 is {y} = ", x+y

In [ ]:
print("my name {}".format("george"))

TypeError: user_info() missing 2 required positional arguments: 'x' and 'y'

In [86]:
def get_info(name ="amit", age = 30):
    
    return f"my name is {name} and my age {age}"

In [87]:
get_info()

'my name is amit and my age 30'

In [ ]:
def std_info(name , age ):
    
    return name, age

In [93]:
lambda x : x+10

In [94]:
fun_1 =lambda x : x+10
type(fun_1)
# fun_1(10)

function

In [89]:
def info():
    return f"hello"

In [90]:
info

In [95]:
list_1 = [1,2,3,"depi","learning",True,[1,2,3,"true",['ds','ml','genai']]]

In [99]:
list_1[6][4][2] ="Agentic AI"

In [101]:
list_one = ["DEPI","Learning","ml"]
list_one.append("dl")

In [103]:
list_one.insert(0,"genAI")

In [104]:
list_one

['genAI', 'DEPI', 'Learning', 'ml', 'dl']

In [ ]:
list_1= [1,2,3]
list_2 =[4,5,6]
x = list_1 + list_2

[1, 2, 3, 4, 5, 6]

In [2]:
list_1.extend(list_2)

In [3]:
list_1

[1, 2, 3, 4, 5, 6]

In [3]:
list_one = ["DEPI","Learning","learning","ml"]
x = list_one.remove("DEPI")
print(x)

None

In [4]:
list_one = ["DEPI","Learning","learning","ml"]
x = list_one.pop(0)
print(x)

DEPI

In [10]:
list_one = ["DEPI","Learning","learning","ml"]
del list_one
print(list_one)

NameError: name 'list_one' is not defined

In [13]:
name  = input("enter your name ")
id = input("enter your id ")

print(f"your name is{name}, and your id is {id}")

your name isgeorge, and your id is 4444

In [14]:
list_2 = ["depi","learning","ml"]
item = input("enter your value")
list_2.remove(item)
print(f"output list ={ list_2}")

output list =['learning', 'ml']

In [18]:
list_3 =[20,10,4,2,50]
list_3.sort()

In [19]:
list_3

[2, 4, 10, 20, 50]

In [23]:
tuple_1 =(20,10,4,2,50)
# tuple_1[0] = 50
list(tuple_1)

[20, 10, 4, 2, 50]

In [28]:
set_1 = {1,2,3}
set_2 = {3,4,5}
set_1.difference(set_2)

{1, 2}

In [33]:
dict_1 = {"key_1":12.5,"key2":"DEPI"}
dict_1["key_1"] = 50
dict_1

{'key_1': 50, 'key2': 'DEPI'}

In [34]:
items = [('a',1),('b',2),('c',3)]
dict_new = dict(items)
print(dict_new)

{'a': 1, 'b': 2, 'c': 3}

In [35]:
num=int( input("enter your value"))
type(num)

int

In [36]:
5/2

2.5

In [42]:
2 >= 2

True

In [44]:
a =3
b = 5

a is not b

True

In [ ]:
a  = 200
b  = 33

if b > a :
    print("b is greater than a ")
elif a == b:
    print("a and b are equal")
else:
    print("b is not greater than a")

b is not greater than a

In [ ]:
x = -5
y = 10
if (x > 0 or  y > 0)  and :
    print("both x and  y are positive.")

both x and  y are positive.

In [53]:
x = 5
result = "Even" if x % 2 == 0 else "odd"
print(result)

odd

In [54]:
a = 10 
b = 5
result = a + b if a>b else a-b

print(result)

15

In [ ]:
score  = int(input("Enter your score"))

if 0<     score  <=100:
    if  90 <=    score     <=  100:
        print("A")
    elif 
    
    
    
    
else:

In [57]:
for i in range(10):
    print(i,"ml")
else:
    print("finished")

0 ml
1 ml
2 ml
3 ml
4 ml
5 ml
6 ml
7 ml
8 ml
9 ml
finished

In [59]:
for i in range(6):
    if i == 3:
        break
    print(i)

0
1
2

In [60]:
if x > 3 :
    pass

In [63]:
x = 6 
while x>0:
    print("hello")
    x -=1

hello
hello
hello
hello
hello
hello